Este ficheiro está vazio de propósito.

Para esta aplicação, o firebase-config.js precisa de ser enviado

para o GitHub para que o site online funcione.

A segurança é garantida pelas Regras de Segurança do Firebase.